*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #2f020c;
}

header {
  background-color: #010101;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
#mov
{
    color: #fff;
    font-size: bold;
    font-size: 21px;
}

button
{
  background-color: transparent;
  border: 2px solid #b0b2c3;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}


.search {
  background-color: transparent;
  border: 2px solid #b0b2c3;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #eff0f4;
}

.search::focus {
  background-color: #22254b;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #050505;
  border-radius: 14px;
  box-shadow: 0 4px 5px yellow;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 200px;
}
.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info span {
  background-color: #da64a3;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: rgb(7, 7, 7);
}

movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}


